<launch>

  <node ns="local_costmap" name="voxel_grid_throttle" pkg="topic_tools" type="throttle" args="messages voxel_grid 3.0 voxel_grid_throttled" />
  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
    <param name="footprint_padding" value="0.01" />
    <param name="controller_frequency" value="10.0" />
    <param name="controller_patience" value="100.0" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <!--rosparam file="$(find sbpl_lattice_planner)/launch/base_local_planner_params_close.yaml" command="load" /-->
    <!--param name="base_local_planner" value="pose_follower/PoseFollower" /-->
    <param name="base_local_planner" value="toru_dwa_local_planner/ToruDWAPlannerROS" />
    <param name="SBPLLatticePlanner/primitive_filename" value="/home/guglielmo/catkin_ws/src/maskor_navigation/toru_primitives.mprim" />
    <rosparam file="/home/guglielmo/Desktop/global_costmap.yaml" command="load" ns="global_costmap" />
    <rosparam file="/home/guglielmo/Desktop/local_costmap.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find sbpl_lattice_planner)/launch/sbpl_global_params.yaml" command="load" />
  </node>
</launch>
